@import "tailwindcss";


@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

.input-style {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}

body{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}